data/calfw/aligned images/
data/calfw/aligned images_old/
data/calfw/ForTraining_old/
data/calfw/images&landmarks/
__pycache__/
.vs/
.idea/
ckpt/

BaselineScript/test.ipynb
BaselineScript/train.ipynb
BaselineScript/test.py